body{
    background-color: rgb(255, 255, 255);
     font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

#overhead{
    background-image: url(./img/AdobeStock_149561720_Banniere-1920x873.jpg);
    border-radius: 0 0 0 80px;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #012058b9;
}
.navfix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    width: 1200px;
}

.navfix > div {
    width: 20%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.navfix > div:nth-child(2) {
    width: 60%;
    justify-content: space-around;
}

.navfix > div:nth-child(3) {
    justify-content: flex-end;
}

.logo{
    justify-content: flex-start;
}

ul{
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

header ul li{
    color: #eeeeee;
}

header ul li:hover{
    color: #aaaaaa;
} 

input{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0);
    border: solid 1px rgb(216, 218, 223);
    color: #eeeeee;
    font-weight: bold;
}

.nc input[type="button"]:hover {
    border-color: #aaaaaa; /* Couleur au survol */
    cursor: pointer;

}

nav{
    margin: auto;
    padding-top: 20px;
    display: flex; 
    width: 1200px;
    color: #eeeeee;
    font-size: 13px;
}

h1{
    color: #eeeeee;
    text-align: center;
    margin-top: 120px;
}

#head{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    border-radius: 0 0 10px 50px;
    margin: 57px auto 57px auto;
    height: 167px;

}

#head div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 78%;
}

#head span{
    color: #365da4;
    font-weight: bold;
}

.search-bar {
    display: flex;
    margin: -10px;
    width: 80%;
}

.search-bar input[type="text"] {
    height: 40px;
    flex: 1;
    color: black;
    border-radius: 5px 0 0 5px;
    border: 1px solid #365da4;
    padding: 0 10px; 
}

.search-bar input[type="button"] {
    /* height: 40px;
    width: 150px; */
    border-radius: 0 5px 5px 0; 
    border: 1px solid #365da4; 
    border: none;
    background-color: #365da4;
    color: #f0f0f0; 
    cursor: pointer;
    transition: border-color 0.3s ease;
    font-weight: bold;
}

.search-bar input[type="button"]:hover {
    background-color: #365ca4c4;
}

::placeholder{
    color: black;
    opacity: 0.7;
    font-size: 11px;
}

h2{
    color: rgb(61, 61, 61);
    text-align: center;
    margin-top: 50px;
}

#smile{
    display: block;
    margin: auto;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.card{
    position: relative;
    width: 350px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px 10px 10px 50px;
    margin: auto;
    margin-top: 20px;
}

.card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.oj{
    color: whitesmoke;
    background-color: #f0a55a;
    padding: 7px;
    border-radius: 5px;
}

.card > div{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 25px;
    color: #e4e4e4;
    width: 100%;
    height: 100%;
}

.card .icons{
    display: flex;
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(94%) sepia(100%) 
    saturate(0%) hue-rotate(228deg) brightness(106%) contrast(105%);
    margin: 8px;
}

.card span{
    display: flex;
    align-items: center;
}

#Counter {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 200px;
}
#Counter > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
}
#Counter > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    counter-reset: compteurCSS;
   
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}
#Counter > div > span:nth-child(1) {
    font-size: 50px;
    font-weight: bolder;
    color:#365DA4;
    margin-bottom: 15px;

    counter-reset: num var(--num);

    transition: --num 5s ease-in-out;
}
#Counter > div > span:nth-child(1)::after {
    content: counter(num);
}
#Counter:hover #CompteurCentres{
    --num: 24;
}
#Counter:hover #CompteurRecommandation{
    --num: 90;
}
#Counter:hover #CompteurCertification{
    --num: 90;
}
#Counter:hover #CompteurExperience{
    --num: 45;
}
#Counter > div > span:nth-child(2) {
    font-size: 18px;
    text-align: center;
    width: 150px;
}

footer{
    display: flex;
    /* flex-direction: column; */
    background-color: #00163D;
    justify-content: center;
    border-top-right-radius: 200px;
    color: white;
}


#rec{
    display: flex;
    flex-direction: column;
}

.titleb{
    color: #e4e4e4;
    font-size: 16px;
    font-weight: bold;
}

.ft{
    display: flex;
    flex-direction: column;
    margin: 50px;
    border-spacing: 5px;
}

.ft *{
    margin-bottom: 20px;
}

.row{
    flex-direction: column;
    line-height: 30px;
    font-size: 13px;
}

#rs{
    padding: 0 10px 0 10px;
}

#bj{
    color: #365da4;
    background-color: white;
    width: 205px;
}

#bj:hover{
    color: white;
    background-color: #00163D;
}

#calio{
    width: 200px;
    height: 150px;
    
}